footer {
    margin-top: 15%;
    background-color: var(--noir);
}

.footer__link {
    font-size: 14px;
    color: var(--beige);
    font-family: var(--georgia);
    margin-left: 12px;
}

.footer__item {
    list-style: none;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: -37px;
}

.footer__liens {
    padding-top: 10px;
    padding-bottom: 10px;
}


.footer__insta {
    width: 30px;
    height: 30px;
    filter: invert(1)
}

.footer__youtube {
    width: 50px;
    height: 50px;
    filter: invert(1)
}

.footer__mmi {
    width: 40px;
    height: 30px;
}

.logo__footer {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__name {
    font-size: 13px;
    color: var(--beige);
    margin-top: 20px;
    margin-left: 15px;
    opacity: 0.7;
}

.first__footer {
    border-bottom : solid 2px var(--beige);
    border-bottom: opacity 0.5;
    width: 50%;
    opacity: 0.7;
}

.footer__mail { 
    color: var(--beige);
    margin-left: 15px;
    opacity: 0.7;
    font-size: 13px;
}

.footer__info {
    font-family: var(--georgia);
    margin-left: 15px;
    color: var(--beige);
    opacity: 0.7;
    font-size: 13px;
}

.footer__sitemmi {
    color: var(--beige);
    font-size: 11px;
}