body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

header {
    background-color: var(--noir);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 3px var(--beige);
}

.header__logo {
    width: 120%;
    padding-left: 10px;
    filter: invert(1);
}

.header__title {
    font-size: 28px;
    text-align: center;
    color: var(--blanc);
    font-family: var(--lora);
    order: 2;
}

.logo__langue {
    width: 105px;
    margin-right: 2px;
    padding-right: 2px;
}

.header__menuBtn{
    position:relative;
    z-index: 10;
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0;
    filter: invert(1);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back__menu { 
    position:relative;
    z-index: 10;
    filter: invert(1);
    width: 90%;
    padding-right: 15px;
    padding-bottom: 10px;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    order: 3;
}

.menu__burger {
    width: 40%;
}