body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

header {
    background-color: var(--noir);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 3px var(--beige);
}

.header__logo {
    width: 70px;
    padding-left: 10px;
    filter: invert(1);
}

.header__title {
    font-size: 28px;
    text-align: center;
    color: var(--beige);
    font-family: var(--lora);
    order: 2;
}

.logo__langue {
    width: 25px;
    order: 3;
}

.header__menuBtn{
    position:relative;
    z-index: 10;
    background: transparent;
    border: none;
    width: 60px;
    padding-right: 10px;
    order: 4;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__burger {
    filter: invert(1);
}
