
.article__body {
    margin-left: 15px;
    margin-right: 15px;
    font-size: var(--body);
    color: var(--beige);
    font-family: var(--georgia);
    font-weight: 300;
    margin-bottom: 30px;
}

body {
    background-color: var(--vert-gris);
}

.big__title {
    font-size: var(--site-title);
    font-family: var(--lora);
    font-weight: 700;
    color: var(--beige);
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.second__title {
    font-size: var(--page-title);
    font-family: var(--lora);
    font-weight: 600;
    color: var(--beige);
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.article__intro {
    position: relative;
    font-size: var(--intro);
    font-family: var(--georgia);
    font-weight: 300;
    color: var(--beige);
    font-style: italic;
    opacity: 0.8;
    margin-left: 15px;
    margin-right: 10px;
    z-index: -1;
}

.blog {
    position: relative;
    opacity: 0.5;
    margin-left: 15px;
    font-size: 11px;
    font-weight: 400;
    font-family: var(--georgia);
    color: var(--beige);
    z-index: -1;
    margin-bottom: 20px;
}

.article__img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0% 0% 0% 0%;
}



.article__title {
    font-size: var(--txt-title);
    font-family: var(--lora);
    font-weight: 600;
    color: var(--beige);
    margin-top: 20px;
    margin-left: 15px;
}

.lien__externe {
    font-size: var(--body);
    color: var(--beige);
}

.video {
    width: 100%;
    height: auto;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--body);
    font-family: var(--georgia);
    font-size: 11px;
    margin-top: 5px;
    font-weight: 300;
    color: var(--beige);
    opacity: 0.6;
}