.title__contact {
    color: var (--noir);
    font-family: var(--lora);
    margin-left: 15px;
}

.contact__page {
    background-color: var(--blanc);
}

.label__title {
    font-family: var(--georgia);
    margin-left: 15px;
}

input {
    margin-left: 15px;
    padding: 5% 50% 5% 2%;
    border: solid 1px var(--noir);
    margin-right: -15px;
}


textarea {
    margin-left: 15px;
    padding : 5% 53% 5% 2%;
    border: solid 1px var(--noir);
    margin-bottom: 30px;
}

textarea::placeholder {
    font-family: var(--georgia);
}

input::placeholder {
    font-family: var(--georgia);
}

.contact__btn {
    display: flex;
    justify-content: center;
    align-items : center;
    background-color: var(--bleu-sombre); 
    color: white; 
    font-family: var(--lora);
    font-size: 14px;
    border: none;     
    padding: 12px;
    margin: auto; 
}