.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bleu-sombre);
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }
  

  .noscroll,
  .noscroll body {
  overflow: hidden;
  }
  
  .menu__link {
    text-decoration: none;
    color: inherit;
    color: var(--blanc);
    font-size: 22px;
    font-family: var(--lora);
    text-align: left;
    margin-bottom: 20px;
  }
  
  .menu__ul {
    list-style: none;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .menu__item {
    margin-bottom: 20px;
    margin-right: 45%;
    margin-left: 5%;

  }

  .menu {
    padding-top: 30%;
  }
